@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo-text {
  font-size: 28px;
}

.navbar-text {
  font-size: 20px;
}

.custom-hr {
  border: none;
  border-top: 1.5px solid #DADADA;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
